<header ng-switch on="$location.path().indexOf('/Atendimentos/new') > -1">
    <h3 ng-switch-when="true">Create a new Atendimento</h3>
    <h3 ng-switch-when="false">View or edit Atendimento</h3>
</header>
<form id="AtendimentoForm" name="AtendimentoForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': AtendimentoForm.ordem.$invalid}">
        <label for="ordem" class="col-sm-2 control-label">Ordem</label>
        <div id="ordemControls" class="col-sm-10">
            <input id="ordem" name="ordem" type="text" class="form-control" ng-model="atendimento.ordem" placeholder="Enter the Atendimento Ordem"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AtendimentoForm.tecnico.$invalid}">
        <label for="tecnico" class="col-sm-2 control-label">Tecnico</label>
        <div id="tecnicoControls" class="col-sm-10">
            <input id="tecnico" name="tecnico" type="text" class="form-control" ng-model="atendimento.tecnico" placeholder="Enter the Atendimento Tecnico"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AtendimentoForm.entrada.$invalid}">
        <label for="entrada" class="col-sm-2 control-label">Entrada</label>
        <div id="entradaControls" class="col-sm-10">
            <input id="entrada" name="entrada" type="text" class="form-control" ng-model="atendimento.entrada" placeholder="Enter the Atendimento Entrada"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AtendimentoForm.nodo.$invalid}">
        <label for="nodo" class="col-sm-2 control-label">Nodo</label>
        <div id="nodoControls" class="col-sm-10">
            <input id="nodo" name="nodo" type="text" class="form-control" ng-model="atendimento.nodo" placeholder="Enter the Atendimento Nodo"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AtendimentoForm.endereco.$invalid}">
        <label for="endereco" class="col-sm-2 control-label">Endereco</label>
        <div id="enderecoControls" class="col-sm-10">
            <input id="endereco" name="endereco" type="text" class="form-control" ng-model="atendimento.endereco" placeholder="Enter the Atendimento Endereco"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveAtendimento" name="saveAtendimento" class="btn btn-primary" ng-disabled="isClean() || AtendimentoForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteAtendimento" name="deleteAtendimento" class="btn btn-danger" ng-show="atendimento.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>